@{
    ViewBag.Title = "Home";
}
@section featured {    
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">                
            </hgroup>
        </div>
    </section>
}
<h3>Active Features</h3>
<ul class="clean">
        @foreach (var group in ViewBag.Features.Keys)
        {            
            <h3>@group</h3>
            foreach (var feature in ViewBag.Features[group])
            {
                <li>
                    <span class="inlinesparkline">@feature.Sparkline</span>
                    @feature.Name 
                    <a class="edit" href="@feature.Name">[Edit]</a>
                    <div id="edit_@(feature.Name)" class="editFeature">
                        <label for="group_@(feature.Name)">Group:</label>
                        <input type="text" name="group" id="group_@(feature.Name)" value="@feature.Group"/>
                        <br/>
                        <button id="close">Close</button>
                        <button id="save">Save</button>
                    </div>
                </li>
            }
        }
</ul>


@section scripts {
    <script type="text/javascript">
        $("ul.nav li.dashboard").addClass("active");
        $('.inlinesparkline').sparkline();
        $("a.edit").click(function() {
            var feature = $(this).attr("href");
            $("#edit_" + feature).slideDown();
            $("#edit_" + feature + " button#close").click(function() {
                $("#edit_" + feature + " button#close").unbind("click");
                $("#edit_" + feature).slideUp();
            });
            $("#edit_" + feature + " button#save").click(function() {
                console.log("Saving #edit_" + feature);
                $.ajax({
                    type: 'PUT',
                    url: '/api/Feature',
                    data: {
                        id: '',
                        name: feature,
                        group: $("#edit_" + feature + " input[name=group]").val(),
                        notes: '',
                        sparkline: ''
                    }
                }).done(function () {
                    console.log('Saved ' + feature + '.');
                    $("#edit_" + feature + " button#save").unbind("click");
                    $("#edit_" + feature).slideUp();
                });                
            });
            return false;
        });
    </script>
}