@{
    ViewBag.Title = "Histogram";
}

<style type="text/css">
    text.value {
        font-family: sans-serif;
        font-size: 12px;
    }    
    text.feature {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
</style>

<h2>Histogram</h2>
<div class="row">
    <div class="span6">
        <div id="chart_controls">
            <select id="chart_type">
                <option value="TotalUsage">Total Usage</option>
                <option value="Ticks">Ticks</option>
                <option value="Starts">Starts</option>
                <option value="AverageDuration">Average Duration</option>
            </select>
            <select id="group">
                <option value="all">All Groups</option>
                @foreach (var group in ViewBag.Groups)
                {
                    <option value="@group">@group</option>
                }
            </select>
        </div>
    </div>
    <div class="span6">
        <form action="@Url.Action("Generate")" method="POST">
            <input type="submit" value="Generate"/>
        </form>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="chart"></div>
    </div>
</div>



@section scripts {
    <script type="text/javascript">
        $("ul.nav li.histogram").addClass("active");
        $("select#chart_type").val('@ViewBag.Accessor');
        $("select#chart_type").change(function() {
            document.location.href = '/Histogram?accessor=' + $(this).val();
        });
        var groupMap = {};
        @foreach (var feature in ViewBag.Features)
        {
            <text>        
        groupMap['@(feature.Name)'] = '@(feature.Group)';
        </text>
        }
        var margin = { top: 20, right: 80, bottom: 30, left: 50 },
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom,
            padding = 30, barPadding = 5, color = d3.scale.category10();
        var svg = d3.select("#chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);
        var displayChart = function(dataset) {
            if ($("select#group").val() != 'all') {
                dataset = dataset.filter(function(d) {
                    return $("select#group").val() == groupMap[d.Feature];
                });
            }
            dataset.forEach(function(d) {
                var group = groupMap[d.Feature];
                if (group === undefined) {
                    group = "Ungrouped";
                }
                d.Group = group;
                d.TotalUsage = d.Starts + d.Ticks;
            });
            color.domain(dataset.map(function(d) { return d.Feature; }));
            var scale = d3.scale.linear().domain([0, d3.max(dataset, function(d) { return d.@(ViewBag.Accessor); })]).range([0, height]);
            svg.selectAll("rect")
                .data(dataset)
                .enter()
                .append("rect")
                .attr("group", function(d) { return d.Group; })
                .attr("x", function(d, i) { return i * (width / dataset.length); })
                .attr("y", function(d) { return height - scale(d.@(ViewBag.Accessor));})
                .attr("width", width / dataset.length - barPadding)
                .attr("height", function(d) { return scale(d.@(ViewBag.Accessor)); })
                .attr("fill", function(d) { return color(d.Feature); });
            var texts = svg.selectAll("text")
                .data(dataset)
                .enter();
            texts.append("text")
                .text(function(d) { return d.@(ViewBag.Accessor); })
                .attr("group", function(d) { return d.Group; })
                .attr("x", function(d, i) {
                    return i * (width / dataset.length) + 4;
                })
                .attr("y", function(d) {
                    return height - scale(d.@(ViewBag.Accessor)) + 16;
                })
                .attr("class", "value");
            texts.append("text")
                .text(function(d) { return d.Feature; })
                .attr("group", function(d) { return d.Group; })
                .attr("x", function(d, i) { return i * (width / dataset.length) + 4; })
                .attr("y", function(d) { return height + 16; })
                .attr("class", "feature");
        };
        d3.json('/api/HistogramData', displayChart);

        $("select#group").change(function() {
            svg.selectAll("rect").remove();
            svg.selectAll("text").remove();
            d3.json('/api/HistogramData', displayChart);
        });
    </script>
}