<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - FeatureWise</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>                    
                        <span class="icon-bar"></span>                    
                        <span class="icon-bar"></span>                    
                    </button>
                    <a class="brand" href="#">FeatureWise</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="dashboard">@Html.ActionLink("Dashboard", "Index", "Home")</li>
                            <li class="time-series">@Html.ActionLink("Time Series", "Index", "TimeSeries")</li>
                            <li class="histogram">@Html.ActionLink("Histogram", "Index", "Histogram")</li>
                            <li class="workbench">@Html.ActionLink("Workbench", "Index", "Workbench")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="https://github.com/neilb14/featurewise"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
        </div>        
        <div class="container">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>FeatureWise</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)        
    </body>
</html>
